main#view {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100vw;
  min-height: 100vh;
  & > * { flex: 0 0 auto; }
  & > footer {
    display: inherit;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    color: #7659d0;
  }
  & > header {
    display: inherit;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    & > section > * { padding: 1em; }
    & svg {
      width: 20%;
      height: auto;
      /*margin: 0 auto;*/
    }
  }
}

main#view > section {
  flex: 1 1 auto;
  display: inherit;
  min-height: 100vh;
  padding: 1em;
  background: #2bc0da;
  color: #fff;

  &.home {
    flex-flow: column nowrap;
    justify-content: space-around;
    background: linear-gradient(#2bc0da, #7659d0);
    & > header {
      display: inherit;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
    }
    & svg {
      width: 50%;
      margin: 0 auto;
    }
  }

  &.nexus {
    & > header {
      align-self: flex-start;
      display: inherit;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      & img { height: 10vh; }
      & > * { width: 50%; text-align: center; font-weight: normal; }
    }
  }

  & form {
    height: 25%;
    display: inherit;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    & > input { margin: 0 0.5em; }
    & label { font-size: 1.5em; }
    & input, & button {
      font-size: inherit;
      border: none;
      background: none;
      color: #fff;
      transition: 120ms cubic-bezier(0.1, 0.6, 0.5, 1) all;
    }
    & button {
      padding: 0.5em;
      /*font-size: 1.5em;*/
      border-radius: 0.25em;
      border: 0px solid transparent;
      &:hover {
        background-color: #fff;
        color: #2bc0da;
      }
    }
    & input {
      border-bottom: 2px solid transparent;
      &:focus {
        border-color: #fff;
      }
      &::placeholder {
        color: #fff;
        opacity: 0.5;
        text-align: center;
      }
    }
  }
}
